<header>
  <div id="header">
    <div class="signin">
      <%= link_to "Sign Up", "signin", class:"link" %>
    </div>
    ||
    <div class="login">
      <%= link_to "Log In", "login", class:"link" %>
    </div>
  </div>
</header>

<div class="signin">
  <div class="container">
    <div class="form">
      <center>
        <h1>Sign up</h1>
        <%= form_for(@user) do |f| %>
          <%= f.text_field :username, :placeholder => "Username" %><br />
          <%= f.email_field :email, :placeholder => "Email" %><br />
          <%= f.password_field :password, :placeholder => "Password" %><br />
          <%= f.submit "Create an account", class: "btn-submit" %><br />
        <% end %>
        <p>
          Already have an account? Click here to <%= link_to "login", login_path %>!
        </p>
      </center>
    </div>
  </div>
</div>
